body {
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

.container {
  display: inline-block;
  background: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.273);
}

.left {
  background: #000;
}
