@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
}

.container {
  display: flex;
  background: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.273);
  border-radius: 20px;
}
/* left side */
.left {
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(hsla(252, 100%, 67%, 1), hsl(241, 81%, 54%));
  border-radius: 20px;
  padding: 15px;
}
.left p {
  color: hsla(0, 0%, 100%, 0.6);
  padding: 0px 40px 15px 40px;
}
.left h1 {
  font-size: 25px;
  margin-bottom: 0;
}
.circle {
  width: 115px;
  height: 115px;
  text-align: center;
  border-radius: 50%;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  padding: 25px;
}
.circle #getScore {
  font-weight: 700;
  font-size: 55px;
}
.circle p {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 15px;
  margin: 0;
  padding: 0;
}
/* end of the left side */

/* right side */
.right {
  padding: 40px;
}

.right .first,
.secound,
.third,
.fourth {
  box-sizing: border-box;
  padding: 10px;
  margin: 15px 0 15px 0;
  border-radius: 10px;
}

.first {
  background: hsla(0, 100%, 67%, 0.1);
  color: hsl(0, 100%, 67%);
}
.secound {
  background: hsla(39, 100%, 56%, 0.1);
  color: hsl(39, 100%, 56%);
}
.third {
  background: hsla(166, 100%, 37%, 0.1);
  color: hsl(166, 100%, 37%);
}
.fourth {
  background: hsla(234, 85%, 45%, 0.1);
  color: hsl(234, 85%, 45%);
}

/* assign */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 15px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
